.container {
  background-color: green;
}
.sidebar{
  /*float: left;*/
  padding: 20px;
}
div {
  border: 2px solid black;
  /*float:left;*/
}

#formArea {
  display: none;
}


.hidden{
    display:none;
}

.unhidden{
    display:block;
}
